<div class="list-group stories">
  <% stories.each do |story| %>
    <%= link_to story.url,
      "data-story": story.id,
      target: "_blank",
      class: "list-group-item list-group-item-action #{story.read? ? "" : "unread"}" do %>
      <%= story.feed.title %> &bullet; <%= story.title %>
    <% end %>
  <% end %>
</div>

<div class="d-none d-md-flex justify-content-center">
  <%= paginate @stories %>
</div>
