<div class="container-fluid">
  <div class="row">
    <%= render "sidebar", feeds: @feeds %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <% if !@feed.error.blank? %>
        <div class="alert alert-danger">An error occured when loading this feed: <%= @feed.error %></div>
      <% end %>
      <%= render "feeds/list", items: @items %>
    </main>
  </div>
</div>
