<div class="container-fluid">
  <div class="row">
    <%= render "sidebar", feeds: @feeds %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0">
      <%= render "stories/list", stories: @stories %>
    </main>
  </div>
</div>
