<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <% feeds.each do |feed| %>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <span data-feather="home"></span>
            <%= feed_title(feed) %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
